
<div class="navbar navbar-fixed-top"> 
    
    
  <div class="navbar-inner">
    <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> 
      <div class="nav-collapse collapse pull-left">
        <ul class="nav pull-right">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "Create Ticket", new_ticket_path %></li>
            <li><%= link_to "Show Tasks", tickets_path %></li>
          
      </ul>

      </div>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav pull-right">
          <li><%= link_to "SIGNUP", new_user_registration_path %></li>
          <li><%= link_to "LOGIN", new_user_session_path %></li>
      </ul>

      </div>
    </div>
  </div>
</div>
